@import "../variables";
@import "../mixin";
.header {
  margin-bottom: 16px;
}

.header-1 {
  @include header-1;

  &:after {
    @include underline;
  }
}

.header-2 {
  @include header-2;
}

.header-3 {
  font-size: 2.4rem;
  font-weight: $fontWeightBold;
  line-height: 64px;
}


/* ----------------------------------- */
/* ---------- MEDIA QUERIES ---------- */
/* ----------------------------------- */

@media (max-width: 800px) {

  .header-1 {
    @include header-1S;
  }
}

@media (max-width: 500px) {

  .header-1 {
    @include header-1XS;
  }
}

@media (max-width: 360px) {
  .header-1 {
    @include header-1XXS;
  }
}
