@import "../variables";

.portfolio__image {
  flex: 1;
  max-width: 100%;
  display: block;
  background: url($banner-background);
  align-self: center;
}


.image--rounded {
  flex: 1;
  height: 238px;
  max-width: 238px;
  border-radius: 50%;
  background: url($avatar) no-repeat;
  background-size: cover;
  box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.25);
}

/* ----------------------------------- */
/* ---------- MEDIA QUERIES ---------- */
/* ----------------------------------- */

@media (max-width: 976px) {
  .image {
    align-self: center;
  }
}

@media (max-width: 800px) {
  .image--rounded {
    width: 100%;
    margin: 0 auto 64px;
  }
}

