@import "../variables";

.top {
  position: fixed;
  background: $colorTopBar;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
  z-index: 999;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  width: 100%;
}
.top-bar--mobile {
  height: auto;
  flex-direction: column;
  .bar {
    margin-bottom: 24px;
  }
}
.top--mobile {
  transform: translateY(calc(-100% - 16px));
  transition: .2s all;
}

.top--mobile-show {
  transform: translateY(0);
}

.top-bar__logo {
  text-transform: uppercase;
  color: $colorLogo;
  font-size: $font-size-logo;
  font-weight: $fontWeightBlack;
}


.bar {
  min-height: 50px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 900px) {
  .top-bar--mobile {
    display: none;
  }
}

@media (max-width: 900px) {
  .menu-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

